/* button-hover.css */

.hover-button:hover {
    -fx-background-color: #007acc; /* Change the background color on hover */
    -fx-text-fill: white; /* Change the text color on hover */
    -fx-font-weight: bold; /* Make the text bold on hover */
}
